.modal__container{
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center ;
    position: absolute;
    top:0;
    left: 0;
}

.modal__content{
    width: 500px;
    height: 300px;
    background-color: rgba(0,0,0,0.8);
    padding: 20px 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__winner{
    font-size: 40px;
    margin-top: 40px;
    color: white;
    
}

.modal__time{
    font-size: 30px;
    color: white;
}

.modal__btn{
    cursor: pointer;
    width: 100%;
    padding:15px;
    background: lightblue;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
}

